@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@using Web.DTOs.Category
@model List<CategoryDTO>

@{
    ViewData["Title"] = localizer["ViewTitle"];
}

<h2 class="mb-3">@ViewData["Title"]</h2>

<a asp-action="Create" class="btn btn-primary">@localizer["NewCategoryButton"]</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>@localizer["NameTableHeader"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td class="align-middle">@category.Name</td>
                <td class="align-middle">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@category.Id">@localizer["EditCategoryButton"]</a>
                    <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@category.Id">@localizer["DeleteCategoryButton"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>