@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model Disable2faModel
@{
    ViewData["Title"] = localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@localizer["2FADisableDisclaimer01"]</strong>
    </p>
    <p>
        @localizer["2FADisableDisclaimer02"]
        @localizer["2FADisableDisclaimer03"] <a asp-page="./ResetAuthenticator">@localizer["2FADisableDisclaimer04"]</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@localizer["2FADisableButton"]</button>
    </form>
</div>
