@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@localizer["CodesSecurityAdvice"]</strong>
    </p>
    <p>
        @localizer["CodeLoseDisclaimer"]
    </p>
    <p>
        @localizer["ImportantInformation01"]
        @localizer["ImportantInformation02"] <a asp-page="./ResetAuthenticator">@localizer["ImportantInformation03"]</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@localizer["GenerateRecoveryCodesButton"]</button>
    </form>
</div>
