@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model PersonalDataModel
@{
    ViewData["Title"] = localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-10">
        <p>@localizer["DataDisclaimer"]</p>
        <p>
            <strong>@localizer["AccountDeleteDisclaimer"]</strong>
        </p>
        <div class="d-flex flex-row gap-2">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="">
                <button class="btn btn-primary" type="submit">@localizer["DownloadDataButton"]</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">@localizer["DeleteDataButton"]</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
