@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@localizer["ResetAuthKeyDisclaimer01"]</strong>
    </p>
    <p>
        @localizer["ResetAuthKeyDisclaimer02"]
        @localizer["ResetAuthKeyDisclaimer03"]
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">@localizer["ResetAuthKeyButton"]</button>
    </form>
</div>
