@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>@localizer["NoRecoveryCodesLeft"]</strong>
                    <p>@localizer["GenerateNewRecoveryCodes01"] <a asp-page="./GenerateRecoveryCodes">@localizer["GenerateNewRecoveryCodes02"]</a> @localizer["GenerateNewRecoveryCodes03"]</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>@localizer["RecoveryCodesLeft",Model.RecoveryCodesLeft!]</strong>
                    <p>@localizer["CanGenerateRecoveryCodes01"] <a asp-page="./GenerateRecoveryCodes">@localizer["CanGenerateRecoveryCodes02"]</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>@localizer["RecoveryCodesLeft", Model.RecoveryCodesLeft!]</strong>
                    <p>@localizer["ShouldGenerateRecoveryCodes01"] <a asp-page="./GenerateRecoveryCodes">@localizer["ShouldGenerateRecoveryCodes02"]</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">@localizer["ForgetThisBrowser"]</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">@localizer["DisableTwoFactorAuthButton"]</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@localizer["ResetRecoveryCodesButton"]</a>
        }

        <h4>@localizer["AuthenticatorApp"]</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@localizer["AddAuthenticatorApp"]</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary mt-2">@localizer["SetUpAuthenticatorApp"]</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary mt-2">@localizer["ResetAuthenticatorApp"]</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>@localizer["PrivacyAndCookiePolicy"]</strong>
            <p>@localizer["MustAcceptPrivacyAndCookiePolicy"]</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
