@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">@localizer["AssociateText", @Model.ProviderDisplayName!]</h2>
<hr />

<p id="external-login-description" class="text-info">
    @localizer["Info01"] <strong>@Model.ProviderDisplayName</strong>.
    @localizer["Info02"]
    @localizer["Info03"]
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="@localizer["InputEmailPlaceholder"]"/>
                <label asp-for="Input.Email" class="form-label">@localizer["InputEmailLabel"]</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@localizer["RegisterButton"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
