@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = localizer["Title"];
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    @localizer["Info01"]
    @localizer["Info02"]
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="@localizer["RecoveryCodeInputPlaceholder"]" />
                <label asp-for="Input.RecoveryCode" class="form-label">@localizer["RecoveryCodeInputLabel"]</label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@localizer["LogInButton"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}