@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model RegisterConfirmationModel
@{
    ViewData["Title"] = localizer["Title"];
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    @localizer["EmailSenderNotConfigured01"] <a href="https://aka.ms/aspaccountconf">@localizer["EmailSenderNotConfigured02"]</a> @localizer["EmailSenderNotConfigured03"]
    @localizer["EmailSenderNotConfigured04"] <a id="confirm-link" href="@Model.EmailConfirmationUrl">@localizer["EmailSenderNotConfigured05"]</a>
</p>
    }
    else
    {
<p>
    @localizer["EmailSendedInfo"]
</p>
    }
}

